.footer {
    &__root {
        margin-top: 4em;
        padding: 5rem 0;
        background-color: #1E1E1E;
    }

    &__box {
        display: flex;
        flex-direction: row;
        gap: 20%;
        @media (max-width: 600px) {
            width: 100%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 3rem 0;
          }
    }

    &__logo {
        max-width: 72px;
        max-height: 72px;
    }

    &__links {
        flex: 1;
        display: grid;
    }

    &__social-logo {
        max-width: 32px;
        max-height: 25px;
        text-decoration: none;
        border: none;
        &:hover {
            filter: sepia(100%) hue-rotate(90deg) saturate(100%);
            cursor: pointer;
        }
    }

    &__no-decoration {
        text-decoration: none;
        border: none;
        color: #6B6B6B;
        &:hover {
            color: white;
        }
    }    

    &__logo {
        cursor: pointer;
    }
}