.send-card {
    &__green-area {
        background-color: #3E6957;
        border-color: #6ccd6b;
        border: 3px solid #133629;
        border-radius: 20px;        
    }

    &__element {
        background-color: white !important;
        border-radius: 5px !important;
        font-family: 'GT-Planar' !important;
        font-size: 20px !important;
        font-weight: 500 !important;
    }

    &__text-button {
        border: none !important;
        text-transform: none !important;
        color: #171717 !important;
        font-family: 'GT-Planar' !important;
        font-size: 20px !important;
        font-weight: 700 !important;        
    }

    &__white-button {
        background-color: white !important;
        text-transform: none !important;
        color: #171717 !important;
        font-family: 'GT-Planar' !important;
        font-size: 20px !important;
        font-weight: bold !important;        
    }

    &__white-button:hover {
        background-color: rgba(255, 255, 255, 0.5) !important;
    }

    &__white-button:disabled {
        color: grey !important;
        background-color: rgba(255, 255, 255, 0.2) !important;
    }
}

.MuiCard-root {
    background-color: #F0EBDE !important;
    border: none !important;
    border-radius: 0px !important;
    box-shadow: none !important;
}

.MuiToggleButton-root {
    font-family: 'GT-Planar-Regular' !important;
    font-size: 20px !important;
    font-weight: 500 !important;    
    text-transform: none !important;
    background-color: white !important;
}

.Mui-selected {
    color: #171717 !important;
    background-color: rgba(0, 0, 0, 0.1) !important;
}